body {
	font-family: "Atlas Grotesk";
	font-weight: 400;
	font-style: normal;
  font-size: 2rem;
}

bold, strong, b {
	font-weight: 700;
	font-style: normal;
}
i, em {
	font-weight: 400;
	font-style: italic;
}


#wrapper {margin: 2rem;}
#manifesto {}

button {font-size: 3rem;border: 0;background-color: transparent;margin: 2em 0;
	font-weight: bold;border: 5px solid black;border-radius: 5px;padding: 2rem;cursor: pointer;}

button:hover{color:white;background: black;}

img {max-width: 100%;}
