
body{
	font-family: "Atlas Grotesk Regular";
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;



}



bold, strong, b  {
	font-family: "Atlas Grotesk Bold";
	font-weight: 700;
	font-style: normal;
}
i {
	font-family: "Atlas Grotesk italic";
	font-weight: 400;
	font-style: italic;
}


a {color:black;text-decoration: none;}


#wrapper {padding: 2rem;z-index: 10;}
#wrapper * {max-width: 100%;}
#content {max-width: 100%;display: block;width: 700px;margin:0 auto;}


p {font-size: 2rem;}

#content h1 {font-size: 3rem;font-family: "Atlas Grotesk Bold";line-height: 2em;;}


#sign{margin: 2em 0 1em 0;text-align: center;}

button, input[type="email"]  {font-family: "Atlas Grotesk Regular";
	font-size: 1.2rem;
	background-color: transparent;
	border: 3px solid black;
	border-radius: 5px;
	padding: 2rem;cursor: pointer;
	color:black;max-width:100%;text-align: center;}

#bd-email {width: 80%;;}

::placeholder {color:black;}
input:focus::placeholder {color: transparent;}
button:hover{color:white;background: black;}

img {max-width: 100%;}

footer {margin: 2em 0 0 0 ;text-align: center;font-size: 0.6rem;}

footer p {font-size: 1rem;}
