b, strong { /* replace with your selector */
	font-family: "Atlas Grotesk Bold";
	font-weight: normal;
	font-style: normal;
}
i, em { /* replace with your selector */
	font-family: "Atlas Grotesk Regular Italic";
	font-weight: normal;
	font-style: normal;
}
body { /* replace with your selector */
	font-family: "Atlas Grotesk Regular";
	font-weight: normal;
	font-style: normal;
}





#wrapper {margin: 2rem;}
#manifesto {}

button {font-size: 3rem;border: 0;background-color: transparent;margin: 2em 0;
	font-weight: bold;border: 5px solid black;border-radius: 5px;padding: 2rem;cursor: pointer;}

button:hover{color:white;background: black;}

img {max-width: 100%;}
